* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

html {
  font-size: 10px;
}

.tnw-top-logo-container {
  display: none;
}

.white-nav-bar {
  padding: 0px 15px;
  position: sticky;
  top: 0;
  background-color: #fff;
} 

.black-nav-bar {
  height: auto;
  padding: 0px 15px;
}

.nav-bar-right {
  float: right;
}

.white-nav-bar .nav-bar-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.white-nav-bar .nav-bar-right button {
  padding: 5px;
  font-size: 1rem;
}

.black-nav-bar li,
.white-nav-bar li {
  display: inline-block;
}

.black-nav-bar {
  background-color: black;
  color: hsla(0,0%,100%,.6);
  font-size: 1.3rem;
  letter-spacing: 0.01rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.black-nav-bar li {
  margin: 0px 5px;
  cursor: pointer;
  padding: 8.5px 0px;
}

.white-nav-bar li {
  cursor: pointer;
  padding: 9px 20px 9px 5px;
}

.black-nav-bar li:hover,
.nav-bar-news,
.dropdown-events-content p:hover,
.dropdown-business-content p:hover {
  color: #fff;
}

.dropdown-events,
.dropdown-business {
  position: relative;
  display: inline-block;
}

.dropdown-events-content,
.dropdown-business-content {
  display: none;
  position: absolute;

  
  z-index: 2;
  background-color: aliceblue;
}

.dropdown-events-content p,
.dropdown-business-content p {
  color:hsla(0,0%,100%,.6);
  width: 200px;
  border-bottom: 0.01rem solid hsla(0,0%,20%,.6);
  background-color: #131313;
  padding: 5px;
  font-size: 1.35rem;
}

.dropdown-events:hover .dropdown-events-content,
.dropdown-events:hover .dropdown-events-content p,
.dropdown-business:hover .dropdown-business-content,
.dropdown-business:hover .dropdown-business-content {
  display: block;
  animation: dropdown-animation .4s 1;
  left: -8px;
  top: 33px;
}

@keyframes dropdown-animation {
  from {
    top: 40px;
  }
  to {
    top: 33px;
  }
}

.white-nav-bar {
  font-family: Rajdhani;
  color: #aaa;
  font-variant: small-caps;
  font-size: 2.2rem;
  font-weight: 500;
  letter-spacing: 0.02rem;
}

.white-nav-bar li:hover {
  color: black;
}

/* Main */

main {
  padding: 1px 8px 0px 8px;
}

/* Conference Banner */

.conference-banner {
  padding: 8px 15px;
  background-color: #fd3;
  font-family: Helvetica, sans-serif;
  font-size: 1.2rem;
  font-weight: 100;
  word-spacing: 0.12rem;
  position: sticky;
  top: 46px;
}


@media screen and (max-width: 768px) {
  .ecosystems-text {
    display: none;
  }

  .conference-banner {
    padding: 20px 125px;
  }
}
/* Cover Grid */

.cover-grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas: "main-story ." "main-story .";
  grid-gap: 8px;
  height: 72vh;
}

@media screen and (max-width: 768px) {
  .cover-grid {
    height: 53vh;
  }
  .tnw-top-logo-container {
    display: block;
    position: fixed;
  }
}

.cover-grid-story-1,
.cover-grid-story-2, 
.cover-grid-story-3 {
  background: #333;
}

.cover-grid-story-1 {
  grid-area: main-story;
}

/* LATEST NEWS */

.latest-news {
  max-width: 1152px;
  margin: 0 auto;
}

.latest-news h2 {
  color: red;
  font-size: 1.8rem;
}
.latest-news-container {
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: center;
}

.latest-news-box {
  /* width: 332px; */
  /* flex-basis: 332px; */
  min-width: 240px;
  flex: 1;
  height: 241px;
  padding: 5px;
  background-color: lightgrey;
  border: 1px solid black;
}

@media screen and (max-width: 1023px) {
  .latest-news-box {
    max-width: 32%;
    flex: 1;
  }

  .latest-news-container {
    justify-content: flex-start;
  }
  
  .funding-rounds-card-pipe {
    display: none;
  }

  .funding-rounds-card {
    flex: 1;
    min-width: 229px;
    height: 270px;
    background: grey;
    border: 1px solid black;
    padding: 8px;
  }
  
  .funding-rounds header {
    flex-direction: column;
  }

}

@media screen and (max-width: 767px) {
  .latest-news-box {
    min-width: 100%;
    height: 95px;
  }
}

/* Funding rounds */
.funding-rounds {
  max-width: 1152px;
  margin: 0 auto;
}

.funding-rounds header {
  display: flex;
  justify-content: space-between;
  margin: 20px 0;
}

.funding-rounds-header {
  color: red;
  font-size: 1.8rem;
}

.funding-rounds header ul{
  display: flex;
  list-style-type: none;
  color: red;
  font-size: 1.6rem;
}

.funding-rounds-card-container {
  display: flex;
  

}

.funding-rounds-card {
  flex: 1;
  height: 270px;
  background: grey;
  border: 1px solid black;
  margin: 8px;
}

@media screen and (max-width: 767px) {
  .funding-rounds-card {
    flex-basis: calc(100% - 16px);
    height: 95px;
  }

  .funding-rounds-card-container {
    flex-wrap: wrap; 
  }
}

/* Sections container */

.sections-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1152px;
  margin: 0 auto;
}

.sections-card {
  flex: 1;
  min-width: 30%;
  height: 300px;
  background: #444;
  border: 1px solid #555;
  margin: 8px;
}

@media screen and (max-width: 1023px) {
  .sections-card {
    flex-basis: calc(50% - 16px);
    flex-grow: 0;
  }
}

@media screen and (max-width: 767px) {
  .sections-card {
    flex-basis: calc(100% - 16px);
  }
}

/* Latest deals */

.latest-deals-container {
  display: flex;
  max-width: 1152px;
  margin: 0 auto;
  flex-wrap: wrap;
}

.latest-deals-card {
  width: 25%;
  max-width: 25%;
  height: 200px;
  background-color: #666;
  border: 1px solid black;
 
}

@media screen and (max-width: 1023px) {
  .latest-deals-card {
    width: 33.33%;
    max-width: 33.33%;
    height: 200px;
  }
}

@media screen and (max-width: 767px) {
  .latest-deals-card {
    width: 100%;
    height: 88px;
    max-width: none;
  }
}

/* Footer */

footer {
  margin-top: 50px;
}
.footer-social-section {
  height: 161px;
  background-color: #131313;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-social-icons {
  display: flex;
  align-items: center;
  list-style-type: none;
  justify-content: space-between;
  width: 370px;
}

.footer-copyright-section {
  height: 97px;
  background-color: #000;
}

.social-icon {
  font-size: 2.2rem;
  background-color: #333;
  color: #eee;
  border-radius: 100%;
  padding: 10px 0px;
  border: 1px solid #333;
  cursor: pointer;
}

.social-icon:hover {
  background-color: #000;
}

.footer-social-icons .fa-youtube {
  padding-left: 9px;
  padding-right: 9px;
}

.footer-social-icons .fa-envelope {
  padding-left: 10px;
  padding-right: 10px;
}

.footer-social-icons .fa-facebook-square,
.footer-social-icons .fa-twitter {
  padding-left: 11px;
  padding-right: 11px;
}

.footer-social-icons .fa-instagram,
.footer-social-icons .fa-rss {
  padding-left: 12px;
  padding-right: 12px;
}

.footer-social-icons .fa-pinterest-p {
  padding-left: 14px;
  padding-right: 14px;
  margin-left: -1px;
  margin-right: -5px;
}


/* Footer Site Links */

.footer-site-links {
  list-style-type: none;
  margin-top: 25px;
}

.footer-site-link {
  display: inline;
  font-family: Rajdhani, sans-serif;
  font-variant: small-caps;
  color: #aaa;
  font-size: 2em;
  margin: 0px 8px;
  font-weight: 500;
  cursor: pointer;
}

.footer-site-link:hover {
  color: #fff;
}

.footer-copyright-section {
  color: #aaa;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.3rem;
  font-family: Helvetica, sans-serif;
}

.footer-copyright-span,
.footer-TNW-logo {
  margin: 0 3.5px;
}

.footer-heart {
  color: red;

}

.stackpath-logo, .footer-TNW-logo {
  height: 1.3rem;
  width: auto;
}

@media screen and (max-width: 767px) {
  .footer-copyright-section {
    flex-direction: column;
  }
}